<section class="hero is-fullheight is-primary">
  <div class="hero-body">
    <div class="hero-head">
     <h1 class="title is-1 has-text-centered animate__animated animate__bounceInDown">Welcome to Expense Tracker</h1>
      <div class="buttons is-centered animate__animated animate__fadeInUp buttons">
        <%= link_to "Log in", new_user_session_path, class: "button is-primary is-large" %>
        <%= link_to "Sign up", new_user_registration_path, class: "button is-light is-large" %>
      </div>
      </div>
    <div class="container">
      <%= image_tag "https://cdn-ifgjf.nitrocdn.com/DCbROeehyZUHOBQWzjvCJNZTDXGStZHz/assets/desktop/optimized/rev-6404943/cdn.filestackcontent.com/9cm7vVXXSeG7zSMNnRXY", style: "max-width: 98vw; height: auto;" %>
      <h2 class="subtitle is-3 has-text-centered animate__animated animate__fadeIn">Manage your budget with ease</h2>
     
    </div>
  </div>
</section>
