
<div class="category">
    <div class="cate-item">
      <div class="icon">
       <img src="<%= category.icon%>" alt="alt" class="">
      </div>
       <div class="cate-text">
   <h2 class="text "><%= category.name %></h2>
   <p class="text-gray-600"> <%= number_to_currency(category.expenses.sum(:amount)) %></p>
   </div>
</div>
</div>

