
<h1>Categories</h1>

<div class="categories">
  <% @categories.each do |category| %>
    <%= render partial: 'category', locals: { category: category } %>
  <% end %>
</div>

<%= link_to "Add a New Category", new_category_path, class: "btn btn-primary" %>

