
<div class="container mx-auto flex justify-start items-center bg-primary text-white font-light px-3 py-4">
<%= link_to categories_path, class: "flex items-center mt-4 text-gray-600 hover:text-gray-900" do %>
<span>&lt;</span>
<% end %>
<h2 class="font-light grow text-center">New Category</h2> 
</div>
<%= render 'form', category: @category %>

