

<div id="<%= dom_id expense %>">
  <p>
    <strong>Amount:</strong>
    <%= number_to_currency(expense.amount) %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= expense.category_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= expense.name %>
  </p>

  
</div>
